# =============== #
# Unity generated #
# =============== #
# Ignore: name DOT meta
*.meta
# Include: name DOT extension DOT meta
!*.*.meta
# Include: Text mesh pro files:
!*TextMesh*
!*.dll
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db*